@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: 0%;
}

body {
  display: flex;
  font-family: "Inter", sans-serif;
}


#backgroundCadastro {
  height: 100vh;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(36, 0, 21, 1) 0%,
    rgba(114, 9, 121, 1) 50%,
    rgba(255, 0, 194, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

#cadastro {
  background-color: hsla(0, 0%, 0%, 0.267);
  height: 80%;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  
}

label{
  padding-left: 10px;
  color: aliceblue;
}

.form{
  border-radius: 20px;
  background-color: rgba(137, 43, 226, 0.11);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: 80%;
}

button{
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  opacity: 0.9;
  background-color: plum;
  width: 80%;
  align-self: center;  
}

label{
  align-self: left;
}

button:hover{
  opacity: 1;
}

h1{
  padding: 15px;
  color: pink;
  text-align: center;
}

p{
  padding: 5px;
  color:#dbc4c8
}