@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: 0%;
}

body {
  display: flex;
  font-family: "Inter", sans-serif;
}

#direita {
  height: 100vh;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(36, 0, 21, 1) 0%,
    rgba(114, 9, 121, 1) 50%,
    rgba(255, 0, 194, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

#cadastro {
  background-color: blue;
  height: 80%;
  width: 50%;
  display: flex;
  flex-direction: column;
}
