@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

*{
    margin: 0%;
    padding: 0%;
    box-sizing: 0%;
}

body {
    display: flex;
    font-family: "Inter", sans-serif;
    background-color: rgb(50, 28, 96);
    color: white;
}

#container{
    width: 100vw;
    height: 100vw;
    padding-left: 50px;
    padding-right: 50px;
}

#header{
    height: 200px;
    width: 100%;
    align-self: center; 
    object-fit: cover;
}

#topbar{
    display: flex;
    flex-direction: column;
    background-color: rgb(50, 28, 96);
    border-radius: 0px 0px 20px 20px;  
    padding-bottom: 10px;
    box-shadow: 6px 7px 12px 1px rgba(0, 0, 0, 0.3);
}

#baixoTop{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    padding: 10px;
    width: 95%;
    align-items: center;
}

#editarPerfil{
    background-color: black;
    border-radius: 20px;
    border: none;
    color: rgb(191, 148, 255);
    padding: 12px 25px 12px 25px;
    background-color: #700b97;
    box-shadow: 6px 7px 12px 1px rgba(0, 0, 0, 0.3);
}

#foto{
    align-self: left;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin-top: -85px;
    margin-left: 30px;
    border-color: rgb(50, 28, 96);
    object-fit: cover;
}


#info{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 15px;
    margin-bottom: 20px;
    gap: 5px;
}

#info h1{
    font-size: 20px;
}
#info #usuario{
    color: rgba(255, 255, 255, 0.568);
}

#seguidoresNumero{
    display: flex;
    gap: 10px;
    color: rgba(255, 255, 255, 0.568);
}

#botoesTopbar{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    align-self: center;
    margin-bottom: 5px;
}

#botoesTopbar a{
    text-decoration: none;
    color: rgb(191, 148, 255);
    border-bottom: 3px solid transparent;
}

#botoesTopbar a:hover{
    border-bottom-color: #700b97;
}

#botoesTopbar a.active{
    border-bottom-color: #700b97;
}

